<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <img src="../../assets/img/orcamentos.png" class="img-fluid" alt="">
                <p>Os pedidos serão respondidos de acordo com à chegada. Tentaremos atendê-los o mais rápido possível.
                </p>
                <a  [routerLink]='["../formulario-orcamento"]' class="btn btn-outline btn-xl js-scroll-trigger">Clique Aqui</a>
            </div>
        </div>
    </div>
</section>