<section class="download bg-primary text-center" id="download">
    <div>
        <img src="../../assets/img/ArtDesing.png" class="img-fluid" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome"
                                formControlName="nome">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome"
                                formControlName="sobrenome">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inputTelefone" placeholder="Telefone"
                            formControlName="telefone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                            formControlName="email">
                    </div>
                    <div>
                        <label>Qual tipo de serviço você deseja solicitar?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Descreva em poucos caracteres" formControlName="servico"></textarea>
                    </div>
                    <div class="col-lg-7 my-auto">
                        <div class="header-content mx-auto button-edit">
                            <button [routerLink]='["../tela-principal"]'
                                class="btn btn-outline btn-xl js-scroll-trigger">Voltar</button>
                            <button type="button" class="btn btn-outline btn-xl js-scroll-trigger"
                                [disabled]="disableButton()" (click)="openModal(template)">Enviar</button>
                        </div>

                        <ng-template #template>
                            <div class="modal-header">
                                <h4 class="modal-title pull-left">Importante</h4>
                                <button type="button" class="close pull-right" aria-label="Close"
                                    (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Solicitação enviada com sucesso!
                            </div>

                            <button type="button" class="btn btn-edit" aria-label="Close"
                                (click)="modalRef.hide()"> Voltar
                            </button>
                        </ng-template>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div>
    <app-footer></app-footer>
</div>